.green-background{
    background-color: green;
    border: 2px solid black;
}

.divStyle{
    display: flex;
    flex-direction:row;
    align-items: center;
    color: red;
    border: black solid 1px;
}