nav {
    width: 100%;
    position: fixed;
    top: 0em;
    font-family: 'Major Mono Display', monospace;
    background: teal;
    padding: 1em;
    font-size: 1.5em;
    padding-left: 1em;
    border-bottom: 1px solid yellow;
}
nav a{
    padding-left: 1em;
    color: yellow;
}
a:active {
  color: blue;
}



h2, h1{
    padding-top: 3em;
}


ul {
    list-style: square outside none;
}
    

h1{

    font-family: 'Major Mono Display', monospace;
}

h2, h3, h4, p, ul{
    font-family: 'Krub', sans-serif;
}

h4 {
    padding-top: 0;
}


.extras-section{
    width: 50vw;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
    /* padding: 1em; */
    /* margin: 1em; */
    /* border: red solid 1px; */

}

.extras-section a{
    font-family: 'Krub', sans-serif;
}
.divStyle{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin: 0 1em 0 1em;
    padding-bottom: 1em;
    /* border: black solid 1px; */
}

.newsfeed{
    background-color: teal;
    color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    border: 2px solid black;
    margin: 5px;
}
.newsfeed p{
    color: white;
}

img {
    max-width: 40%;
    height: auto;
    width: auto\9;
}

#personal-life li {
    /* font-size: 16px;   */
    font-weight: normal
}

#personal-life > ul {
    font-weight: bold;
}


